html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    padding: 5rem;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #dddddd;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: 33% 33% 33%;
}

.spinner {
    position: relative;
    width: 5rem;
    height: 5rem;
    margin: auto;
    border-radius: 50%;
}

.ring {
    width: 5rem;
    height: 5rem;
    border: 1rem solid #eeeeee;
    border-radius: 50%;
}

.ring__nested {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    border: 0.5rem solid #eeeeee;
}

.ring__nested--inner {
    top: 0.5rem;
    left: 0.5rem;
    width: 3rem;
    height: 3rem;
}

.ring--blue {
    border-top-color: #4169e1;
}

.ring--grey {
    border-top-color: #555555;
    border-bottom-color: #555555;
}

.ring--chrome {
    border-color: #4169e1 #d74336 #2fb95b #fbc01a;
}

.spin--linear {
    animation: spin 3s linear infinite;
}

.spin--ease {
    animation: spin 3s ease infinite;
}

.spin--inner {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.grow {
    opacity: 0%;
    animation: grow 4s ease-in-out infinite;
}

.grow--spin {
    opacity: 0%;
    animation: spin 3s linear infinite, grow 4s ease-in-out infinite;
}

.grow--delay {
    animation-delay: 2s;
}

@keyframes grow {
    0% {
        top: 2rem;
        left: 2rem;
        width: 0rem;
        height: 0rem;
        opacity: 100%;
    }

    75% {
        opacity: 100%;
    }

    100% {
        top: -0.5rem;
        left: -0.5rem;
        width: 5rem;
        height: 5rem;
        opacity: 0%;
    }
}

.pulse {
    animation: pulse 1s ease-out alternate infinite;
}

@keyframes pulse {
    0% {
        top: 1.75rem;
        left: 1.75rem;
        width: 0.5rem;
        height: 0.5rem;
    }

    100% {
        top: 0.5rem;
        left: 0.5rem;
        width: 3rem;
        height: 3rem;
    }
}