html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    padding: 5rem;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    background-color: #dddddd;
}

.circle {
    position: relative;
    width: 5rem;
    height: 5rem;
    margin: auto;
    border-radius: 50%;
}

.ring {
    border: 1rem solid #eeeeee;
    border-top: 1rem solid #4169e1;
}

.ring--double {
    border-top: 1rem solid #555555;
    border-bottom: 1rem solid #555555;
}

.ring__grow {
    position: absolute;
    border: 0.5rem solid #eeeeee;
    border-radius: 50%;
    opacity: 100%;
    animation: grow 4s ease-in-out infinite;
}

.ring__grow--delay {
    animation-delay: 2s;
}

@keyframes grow {
    0% {
        top: 2.5rem;
        left: 2.5rem;
        width: 0rem;
        height: 0rem;
        opacity: 100%;
    }

    75% {
        opacity: 100%;
    }

    100% {
        top: 0rem;
        left: 0rem;
        width: 5rem;
        height: 5rem;
        opacity: 0%;
    }
}

.spin--linear {
    animation: spin 3s linear infinite;
}

.spin--ease {
    animation: spin 3s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spin--3d {
    background-color: #4169e1;
    animation: spin-3d 3s linear infinite;
}

@keyframes spin-3d {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
        background-color: #00008b;
    }

    100% {
        transform: rotateY(360deg);
    }
}