html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    padding: 5rem;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #dddddd;
}

.kettle {
    position: relative;
    margin: auto;
    width: 12rem;
    height: 12rem;
}

.kettle__handle {
    position: absolute;
    left: 1.1rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 0.8rem solid #555555;
}

.kettle__body {
    position: absolute;
    top: 4rem;
    left: 1rem;
    width: 10rem;
    height: 8rem;
    border-radius: 50% 50% 5% 5%;
    background-color: #bbbbbb;
}

.kettle__spout {
    position: absolute;
    top: 6.5rem;
    left: -2.5rem;
    width: 5rem;
    height: 1.8rem;
    background-color: #bbbbbb;
    rotate: 35deg;
}

.kettle__lid {
    position: absolute;
    top: 3.6rem;
    left: 3.5rem;
    width: 5rem;
    height: 2rem;
    border-radius: 45%;
    background-color: #555555;
    animation: lid 3s ease infinite;
}

@keyframes lid {
    20% {
        top: 3.6rem;
        transform: rotate(0deg);
    }

    35% {
        top: 3rem;
        transform: rotate(5deg);
    }

    45% {
        top: 3rem;
        transform: rotate(-5deg);
    }

    55% {
        top: 3rem;
        transform: rotate(5deg);
    }

    65% {
        top: 3rem;
        transform: rotate(-5deg);
    }

    80% {
        top: 3.6rem;
        transform: rotate(0deg);
    }
}

.smoke {
    position: absolute;
    top: 5.1rem;
    left: -3rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0%;
    animation: smoke 3s ease infinite;
}

.smoke--delay-1 {
    animation: smoke 3s ease 1s infinite;
}

.smoke--delay-2 {
    animation: smoke 3s ease 2s infinite;
}

@keyframes smoke {
    0% {
        top: 5.1rem;
        left: -3rem;
        opacity: 80%;
    }

    100% {
        top: 1rem;
        left: -4rem;
        opacity: 0%;
    }
}

.quote {
    position: absolute;
    top: 13rem;
    width: 12rem;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}