html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    background-color: #dddddd;
}

#dvd {
    position: absolute;
    width: 10rem;
    height: auto;
}