html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    height: 100%;
    background-color: #000000;
}

#dvd {
    position: absolute;
    width: 10rem;
    height: auto;
    filter: invert(22%) sepia(54%)  saturate(6762%) hue-rotate(353deg) brightness(91%)  contrast(126%);
}